/TiendaOnline/nbproject/private/
/TiendaOnline/build/
/Resource/nbproject/private/
/Resource/build/
/Paises/nbproject/private/
/Paises/build/
/Proyecto_1076502100/nbproject/private/
/Proyecto_1076502100/build/
/Paisess/nbproject/private/
